[submodule "themes/color-your-world"]
	path = themes/color-your-world
	url = https://gitlab.com/rmaguiar/hugo-theme-color-your-world.git
[submodule "hugo-developer-portfolio"]
	path = hugo-developer-portfolio
	url = https://github.com/samrobbins85/hugo-developer-portfolio
